/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
div { position:relative } 
/* END RESET STYLES */


html{-webkit-font-smoothing:antialiased;}
body{background:#f5f5f5 url("../images/bkg-pat.png") repeat scroll 0 0;font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";color:#575454;}
a{color:#2e46b1;text-decoration:none;}
a:hover{color:#4da9e6; text-decoration:underline;}
.column-clear{ clear:both;}
.wrapper{ margin:0px auto; padding:0px; width: 1380px;}
.portfolio-content{width:1080px;}
.portfolio-area{width:100%; height: auto!important;}
.title-page{font-size:40px; margin:30px 0px 0px 0px; color:#151515;}
.goto{float:right;width:130px;margin:-80px 30px 0px 0px;}
.contactr{float:right;width:300px;margin:-40px 30px 0px 0px; text-align: right;}
.header-info{float:left;width:auto;margin: 20px 0px; font-style: italic;}
.top-info { float: right; position: absolute; top: -1px; right: 0; width: auto; text-align: right; margin: 0px 0px 30px 0px;}

.wrapper-left, .wrapper-right {display: block; float: left;top: 30px;}
.wrapper-left{width: 300px; position: fixed; margin: 0 10px;}
.wrapper-right{width: auto; position: relative; left: 320px;}

.profile-intro, .profile-desc{display: block; float: left; }

/**** PORTFOLIO STYLES*****/
.portfolio-categ{margin:10px 0 20px 0;}
.portfolio-categ li{display:inline;margin-right:10px; font-size: 1.02em; font-weight: bold;}
.image-block{ display:block;position: relative;}
.image-block img{border: 1px solid #d5d5d5; border-radius: 10px;background:#FFFFFF;padding:10px;}
.image-block img:hover{border: 1px solid #fd7403;box-shadow:0 0 5px #A9CF54;}
.portfolio-area li{float: left;margin: 0 12px 20px 0;overflow: hidden;width: 245px;padding:5px; height: 265px;}
.home-portfolio-text{margin-top:10px; text-align:center;}
li.active a{ text-decoration:underline;}
/**** END PORTFOLIO STYLES*****/

@media only screen and (max-width: 1380px) {
    .wrapper{ width:1080px;}
    .wrapper-right {left: 320px; width: 810px;}
        
  }

@media only screen and (max-width: 1080px) {
    .wrapper{ width:835px;}
    .wrapper-left {margin: 0 10px; width: 280px;}
    .wrapper-right {left: 300px; width: 535px;}
    .header-info {margin-bottom: 5px;}
}

@media only screen and (max-width: 768px) {
    .wrapper, .wrapper-left, .wrapper-right{ width:535px;}
    .wrapper-left { position: relative;}
    .wrapper-right { padding: 10px; left: 0px; margin: 20px auto;}
    .profile-pic {width: 100px; float: left; margin: 0 20px 20px 0;}
    .profile-desc, .portfolio-categ {font-size: 1.2em;}
    .post-title-portfolio {font-size: 1.3em;}
    .top-info {width: auto; position: relative; float: none; text-align: center; margin: 0 auto;}
}

@media only screen and (max-width: 550px) {
    .wrapper, .wrapper-left, .wrapper-right{ top: 0; width:320px; padding: 5px; margin: 0 10px}
    .profile-pic {display: none;}
}